# Run 'npx browserslist' in project directory to see what browsers selected

# > 0.5%
last 2 versions
# Firefox ESR
not dead
not op_mini all

# ---------------------------
# current node

# ---------------------------
# [production staging]
# > 0.2%
# not dead
# not op_mini all

# [development]
# last 1 chrome version
# last 1 firefox version
# last 1 safari version

# Browserslist defaults: > 0.5%, last 2 versions, Firefox ESR, not dead