// -------------------------------------------------------------
// GLOBAL BACKGROUNDS
// -------------------------------------------------------------

.bg-color-ivory {
  background-color: #FFFFF0;
}

.bg-color-yellow {
  background-color: #FFFF00;
}

.bg-color-purple {
  background-color: #9B30FF;
}

.bg-color-slategray {
  background-color: #C6E2FF;
}

.bg-color-olivedrab-2 {
  background-color: #B3EE3A;
}

.bg-color-mediumorchid-1 {
  background-color: #E066FF;
}

.bg-color-turquoise-1 {
  background-color: #00F5FF;
}

.bg-color-darkgoldenrod-1 {
  background-color: #FFB90F;
}

.bg-color-lightcoral {
  background-color: #F08080;
}

.bg-color-mediumspringgreen {
  background-color: #00FA9A;
}

.bg-color-plum {
  background-color: #DDA0DD;
}

.bg-color-banana {
  background-color: #E3CF57;
}