// -------------------------------------------------------------
// GLOBAL COLORS
// -------------------------------------------------------------

.color-ivory {
  color: #FFFFF0;
}

.color-yellow {
  color: #FFFF00;
}

.color-purple {
  color: #9B30FF;
}

.color-olive {
  color: #808000;
}

.color-crimson {
  color: #DC143C;
}

.color-gold {
  color: #FFD700;
}

.color-lightblue {
  color: #BFEFFF;
}

.color-lavender {
  color: #E6E6FA;
}

.color-turquoise {
  color: #00F5FF;
}

.color-yellow {
  color: #FFFF00;
}

.color-springgreen {
  color: #00EE76;
}

.color-azure {
  color: #F0FFFF;
}

.color-darkgray {
  color: #A9A9A9;
}

.color-salmon {
  color: #FF8C69;
}

.color-orangered {
  color: #FF4500;
}