
// -----------------------------------------------------
// ---------------- SHARED APP VARIABLES ---------------
// -----------------------------------------------------

$font-size-browser-default: 16px !default;

$footer-height: 100px !default;

$footer-margin-top: 15px !default;

$color-cornflowerblue: #6495ED !default;

$color-cadmiumorange: #FF6103 !default;

$font-assets-url-path: '../fonts';

$shared-var-color-syracuse-orange: #F37321 !default;

$shared-var-color-rutgers-scarletx: #EE363D !default;

// Rutgers Scarlet
// #0E1112
// #FFFFFF
// #EE363D

// Cornell Big Red
// #000000
// #FFFFFF
// #D60027

// Syracuse Orange
// #FFFFFF
// #F37321
// #002D62